<div id="<%= dom_id tutor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tutor.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= tutor.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= tutor.course_title %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tutor", tutor, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this tutor", edit_tutor_path(tutor), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
